<html>

<head>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b4d42f1d6e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<div id="app">
  <img alt="Vue logo" src="./assets/logo.png">

  <span v-if="seen">Now you see me</span>

  <button type="button" class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>
    Pipe Upload Tools v0.0 Liquid-Ooze
  </button>

    <p>add all four catagory first so that you can add item.</p>

    <div> 
        <h1 class="text-center">-------------------------------------------------------------------------</h1>
    </div>

    <!--1st_element-->
    <div class="row py-20">

        <div class="col">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_manufacturer" v-on:click="showAddMfugModal=true">Add Manufacturer </button>
            <!-- pops-out1 -->
            <div class="modal fade" id="add_manufacturer" tabindex="-1" aria-labelledby="ADDmanufacturer" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title text-danger" >Add Mfug</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close" v-on:click="showAddMfugModal=false"></button>
                </div>

                
                <form action="php/mfug.php" method="post">

                <div class="modal-body">

                    <div class="mb-6">
                        
                        <label for="InputMfug"> Manufacturer: </label>
                        
                        <div class="form-group">
                            <input id="InputMfug" name="mfug" placeholder="your mfug" v-model="inputt.mfug">
                        </div>
                    </div>
                    

                </div>

                <div class="modal-footer">
                    <button type="submit"  class="btn btn-success" v-on:click="submitManufacturer()" >Submit Manufacturer </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>

                </form>

                </div>

                
            </div>
            </div>
            
        </div>

        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_material">Add Material </button>
            <!-- pops-out2 -->
            <div class="modal fade" id="add_material" tabindex="-1" aria-labelledby="ADDmaterial" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title text-danger">Add Material</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>

                <!--2-->
                <form action="php/material.php" method="post">

                    <div class="modal-body">

                        <div class="mb-6">
                        <label for="InputMaterial"> Material: </label>
                        <input id="InputMaterial"  name="material" placeholder="your material" v-model="inputt_material.material" >
                        </div>

                    </div>

                    <div class="modal-footer">
                    <button type="submit"  class="btn btn-success" v-on:click="submitMaterial()"> Submit Material </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>

                </form>   

            </div>



            
            </div>
            </div>

        </div>

        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_catagory">Add Catagory  </button>
            <!-- pops-out3 -->
            <div class="modal fade" id="add_catagory" tabindex="-1" aria-labelledby="ADDcatagory" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title text-danger" >Add Catagory</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <!--3-- action="php/catagory.php" method="post"-->
                <form action="php/catagory.php" method="post" >

                <div class="modal-body">

                    <div class="mb-6">
                        <label for="InputCatagory"> Catagory: </label>
                        <input id="InputCatagory" name="catagory" placeholder="your catagory" v-model="inputt_catagory.catagory" >
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit"  class="btn btn-success" v-on:click="submitCatagory()"> Submit Catagory </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
                
                </form>
                </div>
            </div>
        </div>
        </div>

        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_sub">Add SubCatagory  </button>
            <!--pops-out4-->
            <div class="modal fade" id="add_sub" tabindex="-1" aria-labelledby="ADDitem" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title text-danger" >Add SubCatagory</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <!--4-->
                    <form action="php/subcatagory.php" method="post">

                    <div class="modal-body">
                        
                        <div class="mb-6">
                            <label for="InputSubCatagory"> SubCatagory </label>
                            <input id="InputSubCatagory" name="subcatagoryname" placeholder="your SubCatagory"  v-model="inputt_subcatagory.subcatagoryname" >

                            <label class="z"> Choose Catagory Already Inserted </label>
                        </br>
                    </br>
                            

                            <select name="choosen_catagory" v-model="inputt_subcatagory.choosen_catagory"   >
                                

                                <option v-for="show_all_catagory in databaseListCatagory"> 

                                    {{show_all_catagory.catagoryname}} 

                                </option>
                    
                        
                        
                            </select>
                        </div>
                        
                    </div>

                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-success"  v-on:click="submitSubCatagory()">Submit SubCatagory </button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>

                    </form>
                </div>
            </div>
        </div>
        </div>

        <div class="col">
            <a href="item.html" type="button" class="btn btn-info" >Go To Item Page  </a>
            <!--pops-out5-->
            

        </div>

    </div>

    <div> 
        <h1 class="text-center">-------------------------------------------------------------------------</h1>



    </div>

  <!--2nd_element-->
  <div class="row mx-5 my-5 ">
    <p>{v} This session will display from the database {v}</p>  

    </br>   

    <div class="col">

        <div class="col-md-2">
            <b> <p style="color:#239B56"> {manufacturer} </p> </b>
        </div>

        <div class="col-md-6">

            <select class="form-select" >
                <option v-for="show_all_mfug in databaseList2" style="color:#239B56;font-weight: bold;"> 
                    {{ show_all_mfug.mfugname }}
                </option>
            </select>

        </div>  



    </div>

    <div class="col">

        <div class="col-md-2">
            <b> <p style="color:#D68910">{material} </p></b>
        </div>

        <div class="col-md-6">

            <select class="form-select" >
                
                <option v-for="show_all_material in databaseListMaterial" style="color:#D68910;font-weight: bold;"> 

                    {{show_all_material.materialname}} </option>

            </select>
        </div>  

    </div>

        <div class="col">

        <div class="col-md-2">
            <b> <p style="color:#2980B9">{catagory} </p></b>
        </div>

        <div class="col-md-6">

            <select class="form-select" >

                <option v-for="show_all_catagroy in databaseListCatagory" style="color:#2980B9;font-weight: bold;"> 

                    {{show_all_catagroy.catagoryname}} </option>


        
            </select>
        </div>  

        </div>
  </div>

  <!--2.5_element-->
  <div class="alert alert-success" v-if="showAlertGood">success alert</div>
  <div class="alert alert-danger" v-if="showAlertBad">error alert</div>

  <div> 
    <h1>-------------------------------------------------------------------------</h1>
  </div>

  <!--3rd_element-->
  <div class="">  
    <table class="table table-bordered table-stripped ">
        <thead>
        <tr class="bg-primary text-center text-light" >
            <th scope="col">Image</th>
            <th scope="col">Key 
                <a href="#" class="text-success" >
                    <i class="fa fa-up-down"></i>
                </a>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>


            <th scope="col"> <b> <p style="color:#239B56">Choosen Manufacturer</p></b></th>
            <th scope="col"> <b> <p style="color:#D68910">Choosen Material</p></b></th>
            <th scope="col"> <b> <p style="color:#2980B9">Choosen Catagory</p></b></th>


            <th scope="col">edit</th>
            <th scope="col">trush</th>
        </tr>

        </thead>

        <tbody>

        <tr v-for="show_all_item in databaseListItem" :key="show_all_item.itemkey"   >
           

            <td scope="row"> 
                <img 
                    :src="`stored_images/${show_all_item.itemimage}`" 
                    alt="show_all_item.itemimage"
                    style="max-width:50%; max-height:50%;" > 
            </td>
            <td scope="row">{{ show_all_item.itemkey }}</td>
            <td scope="row">{{ show_all_item.itemname }}</td>
            <td scope="row">{{ show_all_item.itemcode }}</td>

            <td scope="row"> <b> <p style="color:#239B56"> {{ show_all_item.ichoosen_mfug }} </p>  </b></td>
            <td scope="row"> <b> <p style="color:#D68910"> {{ show_all_item.ichoosen_material }} </p>  </b></td>
            <td scope="row"> <b> <p style="color:#2980B9"> {{ show_all_item.ichoosen_catagory }} </p>  </b></td>


            <td>
                <!-- href="#editt" readOneItem(show_all_item)-->

              <a class="text-success" >
                <button :data-bs-target="'#editt-' + show_all_item.itemkey" data-bs-toggle="modal" class="btn btn-outline-info fa fa-edit"   > </button>
                <!--pops-out-EDIT-->
                <div class="modal fade" :id="'editt-' + show_all_item.itemkey" tabindex="-1"   aria-labelledby="ADDitem" aria-hidden="true"    >
                    <div class="modal-dialog" >

                        <div class="modal-content">
                            
                            <div class="modal-header">

                                <h4 class="modal-title text-danger" >Edit (Coming Soon)</h4>

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"     ></button>

                            </div>

                            <!--4-->
                            <form action="php/update_item.php" method="post">
            
                            <div class="modal-body">

                                <div class="mb-6" >

                                    <label for=""> Item Key </label>
                                    
                                    <input type="text" id="ik" :value="`${show_all_item.itemkey}`" disabled> 

                                    
                                    <label for=""> Item Name </label>
                                    <input id="edit_itemname" name="edit_itemname"  :value="`${show_all_item.itemname}`"  >

                                    <label for=""> Item Code </label>
                                    <input id="edit_itemcode" name="edit_itemcode" placeholder="your ItemCode" :value="`${show_all_item.itemcode}`"   >

                                    
                                    <label for=""> Item Description </label>
                                    <input id="edit_itemdescription" name="edit_itemdescription" placeholder="your ItemDescription" :value="`${show_all_item.itemdescription}`"   >
                                    
                                    
                                    <label for=""> Item Variant </label>
                                    <input id="edit_itemvariant" name="edit_itemvariant" placeholder="your ItemVariant" :value="`${show_all_item.itemvariant}`"   >
                                    
                                    </br>
                                    
                                    
                                    <label for=""> Item Manufacturer </label>

                                    <select name="choosen_mfug" disabled >

                                        <option hidden="true"> 
            
                                            {{show_all_item.ichoosen_mfug}} 
            
                                        </option>
                            
                                
                                
                                    </select>
                                    </br>

                                    <label for=""> Item Material </label>
                                    <select name="choosen_material" disabled >

                                        <option hidden="true"> 
            
                                            {{show_all_item.ichoosen_material}} 
            
                                        </option>
                            
                                
                                
                                    </select>
                                    </br>

                                    <label for=""> Item Catagory </label>
                                    <select name="choosen_catagory" disabled >
                                        
                                        <option hidden="true"> 
            
                                            {{show_all_item.ichoosen_catagory}} 
            
                                        </option>
                            
                                
                                
                                    </select>
                                </div>
                                
                            </div>
            
                            <div class="modal-footer">
                                
                                <button type="submit"  class="btn btn-success"  v-on:click="submitSubCatagory()" >Edit Item </button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal" >Close</button>

                            </div>
            
                            </form>
                        </div>
                    </div>
            </div>
              </a>
            </td>




             


            <td>
                <a class="text-success" >

                    <button :data-bs-target="'#trushh-' + show_all_item.itemkey" data-bs-toggle="modal" class="btn btn-outline-info fa fa-trash"  > </button>
                        <!--pops-out-DELETE-->
                        <div class="modal fade" :id="'trushh-' + show_all_item.itemkey"  aria-labelledby="ADDitem" aria-hidden="true">

                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title text-danger" >Delete </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                    </div>

                                    <!--4-->
                                    <form action="delete_php/delete_item.php" method="post">
                    
                                    <div class="modal-body">

                                        <h2>Are you sure want to delete Item w/ Key
                                            <!-- <div v-model="delete_itemkey.itemkey"> 
                                                {{ show_all_item.itemkey }} 
                                            </div> -->

                                        </h2>
                                        
                                    </div>
                    
                                    <div class="modal-footer">
                                        <button type="submit"  class="btn btn-success"  v-on:click="deleteItem(`${show_all_item.itemkey}`)">Yes </button>
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                    </div>
                    
                                    </form>
                                </div>
                            </div>
                        </div>
                  </a>

                  
                

        </tr>


        </tbody>
    </table>
  </div>

</div>


<script type="module" src="./myjs.js"></script>
<script>

</script>
<style>
.z
{
    display: inline;
}
</style>

</html>